<ion-header>
  <ion-toolbar>
    <ion-title>
      FingerPrint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Clique no botão abaixo para verificar se sua digital está cadastrada nesse dispositivo:
    <br><br>
    {{ msg }}
    <ion-button class="btn" size="large" strong expand="block" (click)="submit()">Verificar Fingerprint</ion-button>  
    <ion-button size="large" strong expand="block" (click)="resetMsg()">Reset</ion-button>  
  </div>
</ion-content>
